<div class="region region-content-top"> 
<div class="container top_space">
<div class="row">
 <div class="col-md-4 imgsrc" *ngFor="let feedback of feedbacks">
    <a href="/specialities"> </a>
     <div class="nh-moreinfo-bx"><a href="/specialities">
     <figure><img src="../../../../assets/img/pic/{{feedback.userimage}}" alt="Superspeciality Hospital in India" class="img-responsive"></figure></a><div class="nh-moreinfo-content"><a href="/specialities">
     <h4>{{feedback.name}}</h4>
       <p>{{feedback.comments}}</p>
      </a><a href="/specialities"><button class="btn btn-default ripple with-arrow">
        <span class="ink animate" style="height: 238px; width: 238px; top: -83.5156px; left: 47.9609px;"></span><i class="icon-arrow-right"></i>View All Specialities</button></a>
         </div>
     </div>
    </div>

  </div>
</div>
</div>