<div class="container topspace">
<div class="row">
    <div class="col-sm-4 singhbox">
        <div class="emg-content emg-sighup">                                
            <h5>Need Assistance?</h5>
            <h4>Call Our 24/7 Helpline Number</h4>
            <h5 class="icon-nh24x7"><a href="tel:18602080208">
            <span class="media-middle">1860 208 0208</span></a></h5>
        </div>
    </div>
    <div class="col-sm-4 singhbox">
        <div class="emg-content emg-sighup">
            <h5>Subscribe For</h5>
            <h4>Health Tips, News &amp; Updates</h4>
            <input type="text" class="form-control" id="usr">
            <button _ngcontent-c4="" class="btn btn-default ripple with-arrow">Subscribe Now</button>
              </div>
    </div>


    <div class="col-sm-4 singhbox">
        <div class="emg-content emg-sighup last">
            <!-- <h5>Medical Records</h5> -->
            <h4>Do You have a Question?</h4>
            <a href="#" class="btn btn-default ripple with-arrow mt-30">
              <span class="ink animate" style="height: 190px; width: 190px; top: -69.4375px; left: 68.5625px;"></span><i class="icon-arrow-right"></i>Enquire Now!
          </a></div>


    </div>
  </div>
</div>