<div class="quick" id="quick" style="position: absolute; top: 93px;position: fixed; right: 7px;">
    <div class="quick_wrap">
      <div class="btn_common">
        <ul>
          <li class="quick-links"> QUICK LINKS</li>
          <li><a href="#" title="Visitor Information">Visitor Info.</a></li>
          <li><a href="#" title="Patient Voice">Patient Voice</a></li>
          <li><a href="#" title="Ask a Doctor">Ask a Doctor</a></li>
          <li><a href="#" title="Feedback Form">Feedback</a></li>
         <li><a routerLink="/contact" class="nav-link " title="Contact Us" href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    
  </div>
