
<div class="contact_bnr">

        <div class="box">
    <h2>About Us</h2>
            <img class="img-responsive" src="../../../assets/img/aboutus/aboutus.jpg">
        </div>
    
    </div>
  
<div class="container-fluid">
    <div class="row top_space">
            <div class="col-sm-6">
                    <img src="../../../assets/img/aboutus/pic.png">
            </div>
            <div class="col-sm-6">
                          <div class="details_box">
                            <h1>About The Noida Private Hospital</h1>
                            <p>The Noida Private Hospital Group has over two decades of experience in the healthcare sector, and is known for providing quality healthcare and valuable experience to all domestic and international patients. Our healthcare offerings are supported by a team of compassionate and dedicated medical professionals who have rich knowledge and experience in their respective domains.<br>
                            </p>
                            
                            <p><span class="subtitleheading">Healthcare Landmark</span> <br><br>
                            <span class="blueitalictext">SevenHills Hospital, a healthcare landmark, has been a household name to more than 50 million Indians. We currently have branches in Noida.</span></p>
                           </div>


            </div>
          </div>

          
          <div class="row  top_space">
                <div class="col-sm-6">
                        <div class="details_box">
                                <h1>About The Noida Private Hospital</h1>
                                <p>The Noida Private Hospital Group has over two decades of experience in the healthcare sector, and is known for providing quality healthcare and valuable experience to all domestic and international patients. Our healthcare offerings are supported by a team of compassionate and dedicated medical professionals who have rich knowledge and experience in their respective domains.<br>
                                </p>
                                
                                <p><span class="subtitleheading">Healthcare Landmark</span> <br><br>
                                <span class="blueitalictext">SevenHills Hospital, a healthcare landmark, has been a household name to more than 50 million Indians. We currently have branches in Noida.</span></p>
                               </div>

                </div>
                <div class="col-sm-6">
                            
                        <img src="../../../assets/img/aboutus/pic.png">
    
                </div>
              </div>



        </div>