
<div class="slide">
<carousel>
  <slide>
    <img src="assets/img/banner/bnr_1.jpg" alt="first slide" style="display: block; width: 100%;">
  
    <div class="carousel-caption d-none d-md-block">
        <h3 ngClass="slider_title">First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      <button type="button" class="btn btn-outline-success btn-view">VIEW MORE</button>
    </div>

  </slide>
  <slide>
    <img src="assets/img/banner/bnr_2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 ngClass="slider_title">First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>

      <button type="button" class="btn btn-outline-success btn-view">VIEW MORE</button>
    </div>
   </slide>
  <slide>
    <img src="assets/img/banner/bnr_3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3 ngClass="slider_title">First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>

      <button type="button" class="btn btn-outline-success btn-view">VIEW MORE</button>
    </div>
  
  </slide>
</carousel>
</div>


<app-moreinfosection></app-moreinfosection>
<app-nh-slider-section></app-nh-slider-section>
<app-nh-bottom-section></app-nh-bottom-section>