<ul class="nav">
        <a class="navbar-brand" href="#"><span style ="color:#d39e00; font-size: 22px">Hospital</span> <span style ="text-transform: uppercase">Demo</span> </a> 
    <li class="nav-item">
    <a  routerLink="/Home" class="nav-link active" href="#">Home</a>
     </li>
 <!-- Dropdown -->
 <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Corporate Information
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <li><a routerLink="/Contact" class="nav-link " title="Contact Us" href="#">Contact Us</a></li>
    </div>
  </li>

  <li class="nav-item dropdown">
      <a routerLink="/Services" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        PATIENT SERVICESS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

    <li class="nav-item">
      <a routerLink="/About" class="nav-link" href="#">About Us</a>
    </li>
   


    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Health Tools
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  
    
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle button_group" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           QUICK LINKS
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
    </ul>




      
    
   